[Desktop Entry]
Type=Application
Exec=scubalog %i %m -caption "%c"
Icon=scubalog.png
MiniIcon=scubalog.png
DocPath=scubalog/index.html
Comment=A dive log application
Terminal=0
Name=ScubaLog
Encoding=UTF-8
